<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <div class="container">
        <h1 style="background-color: {{ darkcol }}; color: {{ lightcol }}">*** Checkerboard ***</h1>
    </div>
    <div class="checkerboard">
        <table>
            {% for i in range(0, num1): %}
                <tr>
                    {% for x in range(0, num2): %}
                        {% if ((i % 2) == 0) and ((x % 2) == 0) %}
                            <th>
                                <div class="light" style="background-color: {{ lightcol }}; outline: 1px solid {{ lightcol }}"></div>
                            </th>
                        {% elif ((i % 2) != 0) and ((x % 2) == 0) %}
                            <th>
                                <div class="dark" style="background-color: {{ darkcol }}; outline: 1px solid {{ darkcol }}"></div>
                            </th>
                        {% elif ((i % 2) == 0) and ((x % 2) != 0) %}
                            <th>
                                <div class="dark" style="background-color: {{ darkcol }}; outline: 1px solid {{ darkcol }}"></div>
                            </th>
                        {% elif ((i % 2) != 0) and ((x % 2) != 0) %}
                            <th>
                                <div class="light" style="background-color: {{ lightcol }}; outline: 1px solid {{ lightcol }}"></div>
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>